<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buenos Aires Street Food Cafe</title>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <img th:src="@{/img/cat.jpg}" alt="cat">
    <br/>
    <p>
        The Cat in the Hat is a 1957 children's book written and illustrated by the American author Theodor Geisel, using the pen name Dr. Seuss. The story centers on a tall anthropomorphic cat who wears a red and white-striped hat and a red bow tie.
    </p>

</div>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>